<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here are all the users created</h1>
    {% for user in users %}
    <a href="/profile/{{user.id}}">{{user.email}}</a>
    {% endfor %}
    
    <form action="/createUser" method="post">
        <div>
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="Enter the user email">
        </div> 
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Enter the user name">
        </div> 
        <div>
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" placeholder="Enter the user last name">
        </div> 
        <input type="submit" value="Create user">
    </form>
</body>
</html>